{% extends 'base.html' %}
{% load static %}

{% block corecss %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="loader"></div>
<div class="home-container container-fluid">
    <div class="row h-100 justify-content-center text-center text-white">
        <div class="col-12 my-auto px-0">
            <h1 class="display-2 t-shadow logo-font"><i class="fas fa-fire display-3"></i> Flame</h1>
            <p class="h4 p-4 font-weight-light t-shadow d-block">
                Taking care of your home's heating with the finest quality. <br>
                For the best price.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid py-2">
    <div class="row h-100 d-flex justify-content-around vh-65">
        <div class="col-12 col-lg-4 d-flex justify-content-center p-2">
            <a class="bg-pellet radius-10 mb-3 h-100 w-100 d-flex justify-content-center align-items-center text-decoration-none" href="{% url 'products' %}?category=pellet_stoves">
                <div class="bg-category-name blur-6">
                    <h3 class="category-name">Pellet Stoves</h3>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center p-2">
            <a class="bg-wood radius-10 mb-3 h-100 w-100 d-flex justify-content-center align-items-center text-decoration-none" href="{% url 'products' %}?category=wood_stoves">
                <div class="bg-category-name blur-6">
                    <h3 class="category-name">Wood Stoves</h3>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center p-2">
            <a class="bg-gas radius-10 mb-3 h-100 w-100 d-flex justify-content-center align-items-center text-decoration-none" href="{% url 'products' %}?category=gas_stoves">
                <div class="bg-category-name blur-6">
                    <h3 class="category-name">Gas Stoves</h3>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}