{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="home-container container-fluid">
        <div class="row h-100 justify-content-center text-center text-white">
            <div class="col-12 my-auto pt-10">
                <h1 class="display-1 logo-font"><i class="fas fa-fire display-3"></i> Flame</h1>
            </div>
            <div>
                <h4>
                    <a href="#" class="btn btn-large py-3 text-white scale" style="border: 1px solid white; border-radius: 50px; background-color: rgba(0, 0, 0, 0.8);">
                        Check out Products
                    </a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}