{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="display-4 logo-font">Fire.com</h1>
            </div>
            <div>
                <h4>
                    <a href="#" class="btn btn-large py-3 rounded-4">
                        Check out Products
                    </a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}