a:hover {
    text-decoration: none;
}

.bg-category-name,
.bg-punch {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
}

.category-name {
    padding: 1rem 1rem 0.5rem;
    color: white;
    text-align: center;
    font-weight: 100;
}

@media (max-width: 991px) {
    .bg-category-name {
        width: auto;
        display: flex;
        border-radius: 10px;
    }

    .bg-punch {
        width: auto;
        display: flex;
    }
}

