{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container h-20">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="loader2"></div>
<div class="container mb-2 text-white text-center">
    <div class="row">
        <div class="col">
            <h3 class="mb-4">My Profile</h3>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-white">Default Delivery Information</p>
            <form action="{% url 'profile' %}" method="POST" class="mt-3" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn radius-20 bg-dark-07 text-white scale text-uppercase float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
            <p class="text-white">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless text-muted">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x {{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}