/* General */

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: rgb(25, 25, 25);
}

hr {
    background-color: rgb(43, 43, 43) !important;
}

a,
a:hover {
    color: #17a2b8;
}

.btn:focus,
.nav-link {
    outline: 0;
    box-shadow: none;
}

.bg-grey {
    background-color: rgb(15, 15, 15);
}

.bg-grey-medium {
    background-color: rgb(30, 30, 30);
}

.bg-grey-light {
    background-color: rgb(43, 43, 43);
}

.bg-dark-07 {
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-dark-02 {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-dark {
    background-color: transparent !important;
}

.bg-dark-seet {
    background-color: transparent !important;
}

.blur-6 {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.vh-65 {
    height: 65vh !important;
}

.mt-20 {
    margin-top: 20vh !important;
}

.mt-30 {
    margin-top: 30vh !important;
}

.pt-10 {
    padding-top: 10%;
}

.mb-10 {
    margin-bottom: 10%;
}

.radius-5 {
    border-radius: 5px !important;
}

.radius-10 {
    border-radius: 10px !important;
}

.radius-20 {
    border-radius: 20px !important;
}

.radius-30 {
    border-radius: 30px !important;
}

.round-left {
    border-radius: 10px 0 0 10px !important;
}

.round-right {
    border-radius: 0 10px 10px 0 !important;
}

.z-max {
    z-index: 99999999 !important;
}

.border-bottom,
.border-top {
    border-color: rgb(60, 60, 60) !important;
}

.border-white {
    border: 1px solid white;
}

.bt-grey {
    border-top: 1px solid rgb(43,43,43);
}

.b-mute {
    border-style: solid !important;
    border-color: rgb(100,100,100)!important;
}

.bw-1 {
    border-width: 1px!important;
}

.bw-nol-1 {
    border-width: 1px 1px 1px 0!important;
}

.no-underline:hover {
    text-decoration: none;
}

/* Page Loader */

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(15, 15, 15, 0.85) url('/media/fire_loader.gif') no-repeat center center;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999;
}

.loader2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999;
}

/* Messages */

.message-container {
    position: fixed;
    top: 80px;
    right: 16px;
    z-index: 9998;
    border-radius: 20px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Navbar */

.navbar-brand {
    font-size: 35px;
}

.logo-font {
    font-family: 'Mrs Saint Delafield', sans-serif;
}

.t-shadow {
    text-shadow: 0 0 0.3rem rgba(26, 26, 23, 0.8);
}

.nav-link {
    color: white !important;
}

.scale:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.scale-small:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
}

.underline:hover {
    text-decoration: underline;
}

.box-account p{
    font-size: 13px;
}

.box-account .nav-link {
    padding: 0.15rem 0.5rem !important;
}

.navbar-bg {
    background-color: transparent !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
} 

.navbar.scrolled {
    background-color: rgba(17, 16, 16, 0.97) !important;
    transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
}

.dropdown-menu {
    left: -15px;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.dropdown-item {
    color: rgb(30, 30, 30);
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(43, 43, 43);
}

/* Home page */

.home-container {
    height: 95vh;

    background: url('/media/homepage-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-pellet {
    background: url('/media/pellet-home.jpeg') no-repeat center left;
    background-size: cover;
    opacity: 0.7;
}

.bg-wood {
    background: url('/media/wood-home.jpeg') no-repeat center left;
    background-size: cover;
    opacity: 0.7;
}

.bg-gas {
    background: url('/media/gas-home.jpeg') no-repeat center left;
    background-size: cover;
    opacity: 0.7;
}

.bg-pellet:hover,
.bg-wood:hover,
.bg-gas:hover {
    opacity: 1;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
}

/* Products */

.card {
    background-color: transparent !important;
}

.card:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    ;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

/* Footer */

footer,
footer a {
    color: white;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

.separator {
    border-right: 1px solid rgb(43,43,43);
}

.footer-clean a:hover {
    transform: scale(1.02)!important;
    color: white!important;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: white;
}

.allauth-form-inner-content input {
    background-color: rgba(255, 255, 255, 0.08);
    color: white !important;
    border-radius: 10px;
    border: none;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 20px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.75rem 2px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover,
.allauth-form-inner-content a:hover {
    transform: scale(1.05);
}

.allauth-form-inner-content a {
    color: #17a2b8;
}

.allauth-form-inner-content .btn {
    color: white;
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    border: none;
    margin: 0.75rem 2px;
}


/* Form Inputs and buttons */

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.form-control {
    background-clip: unset !important;
    background-color: rgb(43, 43, 43);
    color: white;
    border: 1px solid rgb(43, 43, 43);
}

.form-control:focus {
    background-color: rgb(43, 43, 43);
    color: white;
}

input[name='q'] {
    border: none;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}


/* Media Queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 991px) {

    .bg-dark {
        background-color: rgb(20, 20, 20) !important;
    }

    .mobileMenuOpen {
        left: 0 !important;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
    }

    .mobileMenu {
        z-index: 999999999;
        border-radius: 0 20px 20px 0;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: auto;
        left: -110%;
        -webkit-transition: all ease 0.7s;
        transition: all ease 0.7s;
    }

    .mobileMenu .navbar-nav {
        overflow-y: auto;
    }

    .overlay {
        z-index: 999999;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .overlay.open {
        display: block;
        z-index: 1029;
    }

    .navbar-toggler {
        border: none !important;
    }

    .box-account {
        background-color: transparent!important;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .b-sm-none {
        border: none;
    }
}

@media (max-width: 576px) {
    .separator {
        border-right: none;
    }

    .box-account p {
        font-size: .7rem!important;
    }

    .box-account i{
        font-size: .9rem!important;
    }
}