.glider-track {
    width: inherit !important;
    padding: 15px 0!important;
}

.glider-prev {
    left: 0;
    text-shadow: 1px 2px black;
}

.glider-next {
    right: 0;
    text-shadow: 1px 2px black;
}

/* Product info */

.modal-content {
    margin-top: 20%;
}

.card-scroll {
    max-height: 60vh;
    overflow-y: auto;
}

.card-product-content:hover {
    transform: none;
    -webkit-transform: none;
}

.card-product-content {
    border: 1px solid rgb(43, 43, 43)!important;
}

.card-header {
    border-bottom: 1px solid rgb(43, 43, 43)!important;
}

.br-grey {
    border-right: 1px solid rgb(43,43,43);
}

.mt-64 {
    margin-top: 64px;
}

/* Related Products */

.container-related {
    padding: 5% 10%;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgb(10, 10, 10);
}

/* Add products */

#id_image {
    background-color: rgb(43, 43, 43);
}

