{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="loader"></div>
<div class="container mt-20">
    <div class="row text-center">
        <div class="col">
            <h3 class="mb-2 text-white">The &nbsp<span class="logo-font display-4">Flame &nbsp</span>Blog</h3>
        </div>
    </div>
    <hr class="mb-4">

    <!-- Add blog post -->
    {% if user.is_superuser %}
    <div class="row">
        <div class="col-12">
            <span>
                <a href="{% url 'add_blog_post' %}" class="text-white"><i class="fas fa-plus fa-lg scale float-right"></i></a>
            </span>
        </div>
    </div>

    <br>
    {% endif %}

    <!-- List of blog posts -->
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-6 col-md-6 col-lg-4 pb-5">
            <div class="blog-image-container radius-10">
                <a href="{% url 'view_blog_post' post.id %}" method="GET">
                    {% if post.image %}
                        <img class="radius-10" src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% else %}
                        <img class="radius-10" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                    <div class="bg-grey text-white rounded-top-0 overlay-blog p-3">
                        <h5 class="mb-0 text-white">{{ post.title }}</h5>
                        <small class="mb-0 text-white">{{post.author}} &nbsp - &nbsp {{ post.date }}</small>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}