{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="loader2"></div>
<div class="container mt-20">
    <div class="row mb-10">


        <div class="col-12 col-md-10 offset-md-1">

            <!-- Back to blog arrow -->
            <div class="row">
                <div class="col-12">
                    <span>
                        <a href="{% url 'view_blog' %}" class="text-white"><i
                                class="fas fa-chevron-left fa-lg scale float-left"></i></a>
                    </span>
                </div>
            </div>

            <br>

            <!-- Post image -->
            {% if post.image %}
            <div class="image-container post-image-container">
                <a href="{{ post.image.url }}" target="_blank">
                    <img class="img-fluid radius-10" src="{{ post.image.url }}" alt="{{ post.title }}">
                </a>
                {% else %}
                <a href="">
                    <img class="img-fluid radius-10" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
                </a>
                {% endif %}
                <div class="bg-grey text-white rounded-top-0 overlay-post p-3 text-center">
                    <h3 class="mb-0 text-white">{{ post.title }}</h3>
                        <p class="mb-0 text-white">{{post.author}} &nbsp; - &nbsp; {{ post.date }}</p>
                </div>
            </div>
        </div>

        <!-- Post info -->
        <div class="col-12 col-md-8 offset-md-2">
            <p class="post-body text-white mt-5">{{ post.body }}</p>
            {% if request.user.is_superuser %}
            <small class="float-right">
                <a href="{% url 'edit_blog_post' post.id %}">Edit</a> |
                <a class="text-danger are-you-sure" href="{% url 'delete_blog_post' post.id %}">Delete</a>
            </small>
            {% endif %}
        </div>


        <!-- Post Comment section -->
        <div class="col-12 col-md-8 offset-md-2 mt-5">
            <div class="comment-container mb-5 mt-md-1 p-4 text-white radius-10">
                <h4 class="my-1 mb-3">Comments</h4>
                {% if user.is_authenticated %}
                <div class="row">
                    <button id="addComment" data-toggle="modal" data-target="#postComment" type="button"
                        class="btn btn-sm float-right radius-20 scale text-white bg-grey-light mx-3 mb-4">Add Comment</button>
                </div>

                <!-- Add Review Modal -->
                <div class="modal fade" id="postComment" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-grey-medium">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add a Comment</h5>
                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id="addFormComment" action="{% url 'save_comment' post.id %}">
                                    {% csrf_token %}
                                    {{comment_form|crispy}}
                                    <input type="reset" class="btn radius-20 bg-grey-light text-white mx-1 scale"
                                        value="Reset" id="reset" />
                                    <button type="submit"
                                        class="btn radius-20 bg-dark-07 text-white mx-1 scale">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <span class="mx-3 mb-3">
                        <a href="{% url 'account_login' %}" class="">Sign in</a>
                        or
                        <a href="{% url 'account_signup' %}" class="">Sign up</a>
                        to add comments
                    </span>
                </div>
                {% endif %}


                <!-- List of comments -->
                <div class="comment-current"></div>
                {% if user.is_authenticated %}
                <a id="delete-last-comment" href="{% url 'delete_last_comment' post.id user.id %}"></a>
                {% endif %}
                {% if comments %}
                    {% for comment in comments %}
                            <hr>
                            <small class="mb-3">{{comment.user}} &nbsp; - &nbsp; {{comment.date}}</small>
                        {% if comment.user == request.user or request.user.is_superuser %}
                            <small class="float-right">
                                <a class="text-danger are-you-sure" href="{% url 'delete_comment' comment.id %}">Delete</a>
                            </small>
                        {% endif %}
                            <br><br>
                            <p>{{comment.comment}}</p>
                    {% endfor %}
                {% else %}
                    <p id="no-comment">This post has no comments yet</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block corejs %}
{{ block.super }}
<script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}