{% extends "base.html" %}
{% load static %}

{% block title %}
    500 Error Page
{% endblock %}

{% block content %}
<div class="container mt-30">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-white">500 - Internal Server Error</h1>
        </div>
    </div>
    <div class="row mt-5">
       <div class="col-12">
            <p class="text-white text-center mb-5">Something went wrong. Please go back to the homepage.</p>
        </div>
        <div class="col-12 d-flex mb-5">
            <a href="{% url 'home' %}" class="mx-auto"><i class="fas fa-home fa-2x text-white scale border-white radius-10 p-2"></i></a>
        </div>
    </div>
</div>
{% endblock %}
