{% extends "base.html" %}
{% load static %}

{% block corecss %}
{{ block.super}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container h-20">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="loader2"></div>
<div class="container">
    <div class="row mb-10">

        <!-- Product image -->
        <div class="col-12 col-md-6 col-lg-5 offset-lg-1" style="margin-top: 64px">
            <div class="image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid radius-5" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 mt-5 mt-md-0">
            <div class="card card-product-content">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a id="product-details-button" class="nav-link scale" href="#">Product Details</a>
                        </li>
                        <li class="nav-item">
                            <a id="product-review-button" class="nav-link scale" href="#">Product Reviews</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body text-leftpt-0">
                    <!-- Product info -->
                    <div class="product-details-container mb-1 mt-md-1 px-2 text-white">
                        <h4 class="mb-4">{{ product.name }}</h4>
                        <p class="mb-2"><i class="fas fa-signature"></i> {{ product.brand.friendly_name }}</p>
                        <p class="mb-2"><i class="fas fa-tag"></i> {{product.category.friendly_name}}</p>
                        <hr>
                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                        <br><br>
                        <p class="mt-3">{{ product.description }}</p>
                        <a href="{{ product.url }}" target="_blank" class="my-3">Link for technical details</a>
                        <hr>

                        <!-- Add product to cart section -->
                        <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group input-group-{{ product.id }}">
                                            <!-- Add quantity -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn decrement-qty_{{ product.id }}"
                                                    data-item_id="{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus-circle fa-2x text-white scale"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <!-- Quantity display -->
                                            <input
                                                class="form-control qty_input id_qty_{{ product.id }} radius-20 text-center bg-dark-seet radius-20 text-white"
                                                type="number" name="quantity" value="1" min="1" max="10"
                                                data-item_id="{{ product.id }}">
                                            <!-- Remove quantity -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn increment-qty_{{ product.id }}"
                                                    data-item_id="{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus-circle fa-2x text-white scale"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Keep shopping or add to cart section -->
                                <div class="col-12">
                                    <a href="{% url 'products' %}" class="btn btn-sm mt-3 mx-1 bg-dark-07 radius-20 scale">
                                        <span class="icon">
                                            <i class="fas fa-arrow-left text-white"></i>
                                        </span>
                                        <span class="text-uppercase text-white">Keep Shopping</span>
                                    </a>
                                    <input type="submit"
                                        class="btn btn-sm text-uppercase text-white mt-3 mx-1 radius-20 scale bg-dark-07"
                                        value="Add to Cart">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>

                    </div>
                    <!-- Product Review -->
                    <div class="review-container mb-5 mt-md-1 px-2 text-white">
                        <h4 class="my-1 mb-5">Reviews - <span class="avg-rating">{{avg_reviews.avg_rating}}</span>/5 <i
                                class="fa fa-star text-warning"></i>
                            {% if user.is_authenticated %}
                            <button data-toggle="modal" data-target="#productReview" type="button"
                                class="btn btn-warning btn-sm float-right radius-20 scale reviewBtn">Add Review</button>
                            {% endif %}
                        </h4>
                        <!-- Add Review modal -->
                        {% if user.is_authenticated %}
                        <div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content bg-grey-medium">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Product Review</h5>
                                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" id="addForm" action="{% url 'save_review' product.id %}">
                                            {% csrf_token %}
                                                {{review_form|crispy}}
                                                <input type="reset" class="btn radius-20 bg-grey-light text-white mx-1 scale" value="Reset"
                                                id="reset" />
                                                <button type="submit" class="btn radius-20 bg-dark-07 text-white mx-1 scale">Submit</button>       
                                            <p class="ajaxRes text-black"></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- List of reviews -->
                        <div class="review-current"></div>
                        {% for review in reviews %}
                            <small class="mb-3">{{review.user}} &nbsp - &nbsp {{review.date}}</small>
                            <br>
                            {% for star in review.review_rating|ljust:review.review_rating %}
						  		<i class="fa fa-star text-warning mb-2"></i>
							{% endfor %}
                            <p>{{review.review_text}}</p>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Related products section -->
<div class="container-fluid container-related">
    <div class="row">
        <div class="col-12 text-white text-center mt-4 mb-5">
            <h4 class="font-weight-light">Related products: <strong>{{product.category.friendly_name}}</strong></h4>
        </div>
    </div>
    <div class="row">
        <div class="glider-contain">
            <div class="glider">
                {% for rel_product in related_products %}
                {% if rel_product.id != product.id %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 border-0">
                        {% if rel_product.image %}
                        <a href="{% url 'product_detail' rel_product.id %}">
                            <img class="card-img-top img-fluid" src="{{ rel_product.image.url }}"
                                alt="{{ rel_product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' rel_product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ rel_product.name }}">
                        </a>
                        {% endif %}
                        <div class="bg-grey text-white card-body pb-0">
                            <p class="mb-0">{{ rel_product.name }}</p>
                            <p class="mb-0">{{ rel_product.brand.friendly_name }}</p>
                        </div>
                        <div class="text-white bg-grey card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ rel_product.price }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="row d-block">
                <button aria-label="Previous" class="glider-prev"><i
                        class="fas fa-chevron-left text-white"></i></button>
                <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right text-white"></i></button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
<script src="{% static 'products/js/products.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".review-container").css('display', 'none');
        $("#product-details-button").click(() => {
            $(".product-details-container").css('display', 'block');
            $(".review-container").css('display', 'none');
            $(".card-body").removeClass('card-scroll');
        })
        $("#product-review-button").click(() => {
            $(".product-details-container").css('display', 'none');
            $(".review-container").css('display', 'block');
            $(".card-body").addClass('card-scroll');
        })
    })
</script>
{% endblock %}